.box{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 200px auto;
    box-shadow: 60px -40px rgba(255,255,255,0.5);
    background: rgba(0,0,0,0.5); 
    width: 1100px;
    height: 600px;
    color: #fff;
}
.contenedor{
    display: flex;
    justify-content: center;
}
.images{
    border: 10px #fff;
    margin: 30px;
    height:530px;
    width: 530px;
}
.cuerpo{
    margin: 30px 0px;
    width: 500px;
    height: 400px;
}
.nombre{
    font-size: 40px;
    font-weight: 650;
}

.datos{
    margin: 10px 20px 10px;
    font-size: 20px;
}
.eselultimolojuro{
    margin: 20px 0px 0px 0px;
}
.apartado{
    font-size: 20px;
    font-weight: 700;
}
.rol{
    margin: 20px 10px;
    font-size: 30px;
    font-weight: 700;
}
@media (max-width:1104px){
    .contenedor{
        display: inline-block;
        justify-content: center;
    
    }
    .box{
        text-align: center;
        margin: 100px auto;
        width: 600px;
        height: 1120px;
    }
    .eselultimolojuro{
        
        margin: 40px 0px 0px 50px;
    }
    .nombre{
        margin: 30px 20px;
        width: 500px;
    }
    .images{
        border: 10px #fff;
        margin: 30px;
        height:400px;
        width: 400px;
    }
}