
body
{

 background-image: linear-gradient(  135deg   ,#692d92 ,#1d76b1,#88acb1,#7277b6,#5fa2ad ,#3c802f ,#80462f,#80422f);
 margin-top: 10%;
 margin-bottom: 4%;
 animation: fanimado 25s infinite;
 background-size: 500%;
}


@keyframes fanimado{

0%{background-position: 0% 150% ;

}

50%{background-position: 100% 50% ;

}

100%{background-position: 0% 50% ;

}

}



.informacion
{

  padding: 3%;
  font-size: 19;
  color: rgb(10, 10, 10);
  height: 600px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 24px 0 rgb(223, 208, 9);
  background-color: rgb(230, 240, 238);
  border-radius: 5%;
  justify-content: center;

}


.foto{
  border-radius: 50%;
  height:200px;
  width:200px;
}


  .redes
  {

    margin-top: 7%;
    justify-content: center;
    display: flex;
    gap: 30px;
  }






  .contenedorboton
  {

  
    display: grid;

    margin-top: 2%;
    margin-left: 46%;
    gap: 40px;
    text-decoration: none;
  }




  .boton
 {
    align-items: center;
    justify-content: center;
    display: inline-f;
    width: 15%;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(253, 247, 247);
    font-size: 20px;
    border: none;
    cursor: pointer;
    
 
  }

   
   
    .boton:hover
    {

     background-color: rgb(165, 157, 42);

    }

  

    .seccion1
    {
     display: flex;
     margin-top: 11%;
     gap: 165px;
     justify-content: center;
   
     float: left;
     width: 30%;
     height: auto;
    }


    .seccion2
    {
      display: flex;
      justify-content: center;
      gap: 164px;
      margin-top: 6%;
      margin-bottom: 6%;
    }



    .derechos
   {
      text-align: center;
      margin-top: 7%;
      margin-left: 0.2%;
    }



    


    .boton:hover.menusup
    {

     background-color: rgb(165, 126, 42);

    }




    .logo{


 margin-left: 37%;
 margin-top: -1%;


    }



   .icono{

   margin-left: 3%;
   margin-top: -8%;

   }



   .jugar{


text-align: center;


   }




   .logohome{


margin-bottom: 35%;
margin-left: 36%;
   }

   a{

    text-decoration: none;
   }




   


   .contenedorbotonhomes{

    display: grid;

    margin-top: 17%;
    margin-left: 4%;
    gap: 40px;
    text-decoration: none;
    


   }

   .botoneshome{



    align-items: center;
    justify-content: center;
    width: 34%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    color: rgb(253, 247, 247);
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  

  
  .botoneshome:hover
  {

   background-color: rgb(63, 165, 42);

  }


  .derechoshome{


    text-align: center;
    margin-top: -27%;
    margin-left: 0.2%;

  }

  .CantErrores{
    display: flex-end;
    font-size: 20px;
    margin-left: 80%;
    margin-top: 35px;
    height: 100px;
  }

  .Ahorcado{
    display: flex;
    justify-content: center;
  }

  .TextPresentacion{ 
    font-size: 20px;
    margin-left: 1%;
  }

  .btn{
    justify-content: center;
    font-size: 30px;
  }

  .white{
    color: #fff;
  }